{% extends 'flagstat_database/base.html' %}

{% block title %}
	about - {{ block.super }}
{% endblock title %}

{% block content %}
	<style>
		h2 {
		position: relative;
		top:60px;
		}
		p {
		position: relative;
		top:40px;	
		}
	</style>

	<h2> About page </h1>
	<p> This web app is setup to monitor the quality of the bam files created from NGS runs.

		The flagstat files are generated from the NGS analysis pipeline.
	</p>

{% endblock content %}

