<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>{% block title %}NGS QC Web App{% endblock title %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
	</head>
	<body>
		<div class='navbar navbar-inverse navbar-fixed-top' role="navigation">

			<div class="container-fluid">
				<div class="navbar-header">
					<a class= "navbar-brand" href="/NGS_QC/">NGS QC web app 1.0.0</a>
				</div>
				<div class="nav navbar-nav navbar-right">
					<ul class="nav navbar-nav navbar-right">
						
						<li>
							<!--<div class="col-xs-100" id="navbar_form_container">
								<form action="/NGS_QC/search/" class="navbar-form" role="search">
									<div class="form-group" id="search">
										<input class="typeahead" name="query" type="text" placeholder="sample, runfolder..." width="200"/>
										<input type="submit" style="display: none;"/>
									</div>
								</form>
							</div>-->
						</li>

						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'about' %}">About</a></li>
						<li><a href="{% url 'runfolders' %}">Runfolders</a></li>
						<li><a href="{% url 'samples'  %}">Samples</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content container">
        	<div class="row">
            	<div class="col-md-8">

				{% block content %}
				{% endblock %}

				</div>
        	</div>
    	</div>
		
		{% block footer %}

		<div class="footer">
			<div class="section-inner clearfix">		
				<style>
				p {
				position: relative;
				top:80px;
				}	
				hr {
				position: relative;
				top:80px;
				}
				</style>
				<hr>
				<p>&copy; NGS QC Web App - updated 21/08/2018</p>
				<hr/>
			</div>
		</div>

		{% endblock footer %}

    <body/>

</html>