{% extends "flagstat_database/base.html" %}

{% block title %}
	homepage - {{ block.super }}
{% endblock %}

{% block content %}
	<style>
	h2 {
		position: relative;
		top: 60px;
	}
	p {
		position: relative;
		top: 60px;
	}
	</style>
		
	<h2> Welcome to the NGS flagstat data homepage </h2>
	
	<p> Here are the latest 5 runfolders being processed </p>

	<div class="index">
		<style>
		table {
			font-family: arial, sans-serif;
			width: 80%;
			position: relative;
			top: 80px;
		}

		td, th {
			border:1px solid #dddddd;
			text-align:left;
			padding: 8px;
		}

		tr:nth-child(odd) {
			background-color: #dddddd;
		}
		</style>
		<table>
		<tr>
			<th> Runfolder name</th>
			<th> Import date</th>		
		</tr>
			{% for runfolder in latest_runfolders_stat %}
				{% if runfolder %}
		<tr>	
			<td><a href="{% url 'runfolder' pk=runfolder.id %}">{{ runfolder.runfolder_name }}</a></td>
			<td>{{runfolder.import_date}}</td>
				{% else %}
			<td><p>No runfolder info available.</p></td>
				{% endif %}
		</tr>
			{% endfor %}
		</table>
	</div>

{% endblock content %}

