{% extends 'flagstat_database/base.html' %}
{% block title %}
	Homepage - {{ block.super }}
{% endblock title %}

{% block content %}

	<h2> Parameters of all the samples. </h1>
	<h3>
		Here is the table displaying all parameters associated with each sample.
	</h3>

	{% if latest_samples_stat %}
		<ul>
		{% for sample in latest_samples_stat %}
			<li><a href="/flagstat/{{ runfolder.rf_name }}/">{{ sample.sample_name }}</a></li>
		{% endfor %}
		</ul>

	{% else %}
		<p>No sample info available. </p>
	{% endif %}

{% endblock content %}

