{% extends 'flagstat_database/base.html' %}

{% block title %}
	runfolder - {{ block.super }}
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css"  href="/static/django_tables2/themes/paleblue/css/screen.css" %}" />
{% endblock %}

{% block content %}
	
	<!--<style>
		h2 {
		position: relative;
		top:80px;
		}
	</style>

	<h2> {{runfolder.runfolder_name}} flagstat information page </h2>

	<div class="runfolder">
		<style>
		table {
			font-family: arial, sans-serif;
			width: 150%;
			position: relative;
			top:80px;
		}

		td, th {
			border:1px solid #dddddd;
			text-align:left;
			padding: 8px;
		}

		tr:nth-child(odd) {
			background-color: #dddddd;
		}
		</style>
		<table>
		<tr>
			<th> runfolder_name </th>
			<th> total_reads reads</th>
			<th> mapped_reads reads</th>
			<th> duplicate_reads reads</th>
			<th> import date</th>
		</tr>
		<tr>
			<td> {{runfolder.runfolder_name}}</td>
			<td> {{runfolder.total_reads}} </td>
			<td> {{runfolder.mapped_reads}} </td>
			<td> {{runfolder.duplicate_reads}} </td>
			<td> {{runfolder.import_date}} </td>
			<td></td>
		</tr>
		</table>
	</div>-->
<body>

{% if runfolder_stats %}

<style>
	section {
	position: relative;
	top:40px;
	}
</style>

<section>

<h3> {{ runfolder_name }} flagstat information page </h3>

{% load render_table from django_tables2 %}

{% render_table runfolder_table %}

{% else %}

	<p>No runfolder QC info available.</p>

{% endif %}
</section>

</body>
{% endblock %}

