{% extends 'flagstat_database/base.html' %}

{% block title %} 
	runfolders - {{ block.super }}
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css"  href="/static/django_tables2/themes/paleblue/css/screen.css" %}" />
{% endblock %}


{% block content %}

	<!--<style>
		h2 {
		position: relative;
		top:80px;
		}
	</style>

	<h2> Runfolders </h2>

	<div class="runfolders">
		<style type="text/css">
		table {
			font-family: arial, sans-serif;
			width: 80%;
			position: relative;
			top:80px;
		}

		td, th {
			border:1px solid #dddddd;
			text-align:left;
			padding: 8px;
		}

		tr:nth-child(odd) {
			background-color: #dddddd;
		}
		</style>
		<table>
		<tr>
			<th> runfolder name </th>
			<th> total reads </th>
			<th> mapped reads </th>
			<th> duplicate reads </th>
			<th> % of mapped reads </th>
			<th> % of duplicate reads </th>
			<th> import date</th>

		</tr>
			{% for runfolder in runfolder_averages %}
				{% if runfolder %}
		<tr>	
			<td><a href=" {% url 'runfolder' pk=runfolder.id %}">{{ runfolder.runfolder_name }}</a></td>
			<td>{{runfolder.total_reads}}</td>
			<td>{{runfolder.mapped_reads}}</td>
			<td>{{runfolder.duplicate_reads}}</td>
			<td>{{runfolder.pcent_mapped</td>
			<td>{{runfolder.pcent_duplicates</td>
			<td>{{runfolder.import_date}}</td>
				{% else %}
			<td><p>No runfolder info available.</p></td>
				{% endif %}
		</tr>
			{% endfor %}
		</table>
	</div>-->

<body>

<style>
	h2 {
	position: relative;
	top:80px;
	}
	p {
	position:relative;
	top:80px;
	}
	section {
	position:relative;
	top: 80px
	}

</style>

<h2> Stats for Runfolders </h2>

<p> There are {{ runfoldercount }} runfolders in the flagstat database </p>

<section>

{% if stats_table %}

{% load render_table from django_tables2 %}

{% render_table stats_table %}

{% else %}

	<p>No runfolders QC info available.</p>

{% endif %}

</section>
</body>
{% endblock %}

