<!DOCTYPE html>

{% load render_table from django_tables2 %}

{% load staticfiles %}

<html>
<head>
	<title>Runfolders Table</title>
	<link rel="stylesheet" href="{% static'ticket/static/css/screen.css' %}"/>
</head>

<h1>Table of runfolders</h1>

<body>
	<p>Here is a list of all the runfolders in the GeminiDB.</p>

	{%render_table Runfolder}

	<a href="/flagstat/">Flagstat Home Page</a>
</body>
</html>