{% extends 'flagstat_database/base.html' %}

{% block title %}
	samples - {{ block.super }}
{% endblock title %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css"  href="/static/django_tables2/themes/paleblue/css/screen.css" %}" />
{% endblock %}

{% block content %}

	<style>
		h2 {
		position: relative;
		top:80px;
		}
		p {
		position:relative;
		top:80px;	
		}
		
	</style>
	
	<h2> Samples flagstat information </h2>
	<p> There are {{ samplecount }} samples in the flagstat database </p>

	<div class="samples">
		<style type="text/css">
		table {
			font-family: arial, sans-serif;
			width: 120%;
			position: relative;
			top:80px;
		}

		td, th {
			border:1px solid #dddddd;
			text-align:left;
			padding: 8px;
		}

		tr:nth-child(odd) {
			background-color: #dddddd;
		}
		</style>
		<table>
		<tr>
			<th>Sample name</th>
			<th>in_total_passed</th>
			<th>mapped_passed</th>
			<th>duplicates_passed</th>
			<th>Import date</th>		
		</tr>
			{% for sample in samples %}
				{% if sample %}
		<tr>	
			<td><a href=" {% url 'sample' pk=sample.id %}">{{ sample.sample_name }}</a></td>
			<td>{{sample.in_total_passed}}</td>
			<td>{{sample.mapped_passed}}</td>
			<td>{{sample.duplicates_passed}}</td>
			<td>{{sample.import_date}}</td>
				{% else %}
			<td><p>No sample flagstat info available.</p></td>
				{% endif %}
		</tr>
			{% endfor %}
		</table>
	</div>


{% endblock %}