{% extends 'flagstat_database/base.html' %}

{% block title %}
	sample - {{ block.super }}
{% endblock title %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css"  href="/static/django_tables2/themes/paleblue/css/screen.css" %}" />
{% endblock %}

{% block content %}

	<style>
		h2 {
		position: relative;
		top:80px;
		}
	</style>

	<h2> {{ sample.sample_name }}</a> QC information page </h2>

	<div class="sample">
		<style type="text/css">
		table {
			font-family: arial, sans-serif;
			width: 150%;
			position: relative;
			top:80px
		}

		td, th {
			border:1px solid #dddddd;
			text-align:left;
			padding: 8px;
		}

		tr:nth-child(odd) {
			background-color: #dddddd;
		}
		</style>
		<table>
		<tr>
			<th> sample name</th>
			<th> in_total_passed</th>
			<th> mapped_passed</th>
			<th> duplicates_passed</th>
			<th> date and time of import</th>
			<th> runfolder_name</th>
		</tr>
		<tr>
			<td>{{sample.sample_name}}</td>
			<td>{{sample.in_total_passed}}</td>
			<td>{{sample.mapped_passed}}</td>
			<td>{{sample.duplicates_passed}}</td>
			<td>{{sample.import_date}}</td>
			<td><a href=" {% url 'runfolder' pk=sample.runfolder_id %}">{{ runfolder.runfolder_name }}</a></td>
		</tr>
		</table>

	
	</div>
{% endblock content %}

